# # Unité ##

* .cs  diff = texte csharp 
* texte .cginc 
* texte .shader 

* .mat  merge = unityyamlmerge  eol = lf
* .anim  merge = unityyamlmerge  eol = lf
* .unity  merge = unityyamlmerge  eol = lf
* .prefab  merge = unityyamlmerge  eol = lf
* .physicsMaterial2D  merge = unityyamlmerge  eol = lf
* .physicMaterial  merge = unityyamlmerge  eol = lf
* .asset  merge = unityyamlmerge  eol = lf
* .meta  merge = unityyamlmerge  eol = lf
* .controller  merge = unityyamlmerge  eol = lf


# # git-lfs ##

# image
* filtre .jpg  = lfs diff = lfs fusion = lfs - texte   
* filtre .jpeg  = lfs diff = lfs fusion = lfs - texte   
* .png  filter = lfs  diff = lfs  merge = lfs  - text
* .gif  filter = lfs  diff = lfs  merge = lfs  - text
* .psd  filter = lfs  diff = lfs  merge = lfs  - text
* .ai  filter = lfs  diff = lfs  merge = lfs  - text
* .tif  filter = lfs  diff = lfs  merge = lfs  - text

#Audio _
* filtre .mp3  = lfs diff = lfs fusion = lfs - texte   
* .wav  filter = lfs  diff = lfs  merge = lfs  - text
* .ogg  filter = lfs  diff = lfs  merge = lfs  - text

# Vidéo
* filtre .mp4  = lfs diff = lfs fusion = lfs - texte   
* .mov  filter = lfs  diff = lfs  merge = lfs  - text

# Objet 3D
* .FBX  filter = lfs  diff = lfs  merge = lfs  - text
* .fbx  filter = lfs  diff = lfs  merge = lfs  - text
* .blend  filter = lfs  diff = lfs  merge = lfs  - text
* .obj  filter = lfs  diff = lfs  merge = lfs  - text

# ETC
* .a  filter = lfs  diff = lfs  merge = lfs  - text
* .exr  filter = lfs  diff = lfs  merge = lfs  - text
* .tga  filter = lfs  diff = lfs  merge = lfs  - text
* filtre .pdf  = lfs diff = lfs fusion = lfs - texte   
* filtre .zip  = lfs diff = lfs fusion = lfs - texte   
* filtre .dll  = lfs diff = lfs fusion = lfs - texte   
* .unitypackage  filter = lfs  diff = lfs  merge = lfs  - text
* .aif  filter = lfs  diff = lfs  merge = lfs  - text
* .ttf  filter = lfs  diff = lfs  merge = lfs  - text
* .rns  filter = lfs  diff = lfs  merge = lfs  - text
* .reason  filter = lfs  diff = lfs  merge = lfs  - text
* .lxo  filter = lfs  diff = lfs  merge = lfs  - text
